mysql:
  username: root
  password: root
  host: localhost
  port: 3306
  database: database
infura:
  http: https://mainnet.infura.io/v3/YOU-PROJECT-ID
  wss: wss://mainnet.infura.io/ws/v3/YOU-PROJECT-ID
usdt:
  #  合约地址
  token: 0x5b1869D9A4C187F2EAa108f3062412ecf0526b24
addr:
  #  创建账号密码
  password: xiaosha
