mysql:
  username: root
  password: 123456
  host: localhost
  port: 3306
  database: ethereum
infura:
  http: https://mainnet.infura.io/v3/9831d331dbcd429b88b990811cffd50e
  wss: wss://mainnet.infura.io/ws/v3/9831d331dbcd429b88b990811cffd50e
usdt:
  #  合约地址
  token: 0x5b1869D9A4C187F2EAa108f3062412ecf0526b24
addr:
  #  创建账号密码
  password: xiaosha
